body {
  background-color: whitesmoke;

}
ul {
  list-style: none;
}
.btn {
  width: 100px;
  height: 70px;
  margin: 20px;
}

h1 {
  text-align: center;
}

.dialog {
  border: 1px solid lightblue;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: white;
}

.close {
  float: right;
  cursor: pointer;
}